
  body {
    font-family: 'Poppins', 'Courier New', Courier, monospace;
    color: var(--color-dark-brown);
    background-color:var(--color-off-white);
    text-align: center;
  }

  h1 {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-size: large;
  }

  h2 {
    font-family: 'Anonymous Pro', 'Courier New', Courier, monospace;
    font-size: medium;
  }
  
  main {
    height:var(--content-height);
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
  }

  navbar {
    background-color: var(--color-light-brown);
    color: var(--color-off-white)
  }
  
  button {
    cursor: pointer;
    background-color:var(--color-orange); 
  }
  
  .myeats-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    background-color: var(--color-tan);
  }

  .recipe-card .antd-card{
    border-radius: 12px;
    background-color: var(--color-off-white);
  }
  